.dealerbox {
    width: 100%;
    min-height: 24vw;
    display: block;
    float: left;
    padding: 1.5vw;
    margin-left: 1vw;
    margin-bottom: 1vw!important;
    border: 0.2vw solid #f1f1f1;
    font-size: 1vw;
    line-height: 1.8;
    background: -moz-linear-gradient(-45deg, #ffffff 1%, #fdfdfd 42%, #e6e4e4 100%);
    background: -webkit-linear-gradient(-45deg, #ffffff 1%, #fdfdfd 42%, #e6e4e4 100%);
    background: linear-gradient(135deg, #ffffff 1%, #fdfdfd 42%, #e6e4e4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e4e4', GradientType=1);
}

.marginFix {
    margin-left:1vw;

}
ul.disk,li{
    list-style-type: disc !important;
    list-style-position: inside !important;
    margin-left:2vw;

}


.dealerbox:hover {
    background: #f1f1f1
}

.dealerbox .dealertitle {
    /* font-size: 18px; */
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    line-height: 3em;
    border-bottom: 0.2vw solid #cdcdcd;
}

.dealerbox .dealeraddress {
    /* font-size: 13px; */
    font-weight: 400;
    text-align: center;
    line-height: 1.8em;
    padding: 1vw 0;
    color: #333;
    border-bottom: 0.2vw solid #cdcdcd;
}

.dealerbox .dealerphone {
    /* font-size: 15px; */
    font-weight: 600;
    line-height: 3em;
    text-align: center;
    color: #111;
    border-bottom: 0.2vw solid #cdcdcd;
}

.dealerbox .dealerphone i {
    color: #12b763;
    font-size: 20px;
    vertical-align: middle
}

.dealerbox .dealerphone i.phone {
    color: #111
}
