.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    margin-bottom: 20px !important;
}
.pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    margin-bottom: 8px;
    -webkit-box-shadow: 5px 5px 12px -4px rgba(0,0,0,0.63);
    -moz-box-shadow: 5px 5px 12px -4px rgba(0,0,0,0.63);
    box-shadow: 5px 5px 12px -4px rgba(0,0,0,0.63);;
}
.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}

.btn-outline-black {
    color: #000 !important;
    background-color: transparent !important;
    border: 2px solid #000 !important;
    margin:6px;
}

.waves-effect {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

iframe {
    width:100%;
    height: 100%;
}